
body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
  }
  .container{
    text-align: center;
    margin: 100 auto;
   
  }
  
  input.form-control{
    width:50%;
  }
  
  h1{
    color: blueviolet;
  }
  
  body .container{
    background: linear-gradient(0deg, #deff84, transparent) #e6fffdc4;
    background-image: url('ebusbg.jpg');
    margin: 30px;
    height : 550px
    
  }
  
  label{
    color: darkblue;
    font-style: italic;
  }
  

  button.btn:hover{
    background: blueviolet
  }
  
  .container a:hover {
    background: rgba(231, 225, 237, 0.973);
    color: rgb(0, 0, 0);
  }
  
  center p{
    width: 600px;
    background: yellow;
  
  }
  
  .container h3.title{
  color: violet;
  }

  .container div a {
    width: 200px;
  }

  .container select {
    color: rgb(140, 104, 104);
    background-color: whitesmoke;
    width: 25%;
    min-height: 30px;
    height: 7vh;
  }

